header {
  padding-top: 4px;
  padding-bottom: 4px;
}

header h1 {
    font-family: 'Impact', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    width: 500px;
}

body {
    font-family: sans-serif;
}

hr {
    border-top-color: black;
}

a.button {
  width: 220px;
  height: 70px;
}

.chartTitle {
    background-color: black;
    color: white;
    font: 18px monospace;
    padding: .25em 1em;
}

.description {
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 0px;
}

/* style the control option labels */
.control {
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 0px;
}

.control .option,
.ui-dropdownchecklist-text {
    font-size: 12px;
    padding-left: .5em;
}

#metricControl1 .ui-dropdownchecklist-item {
    color: gray;
}
#metricControl2 .ui-dropdownchecklist-item {
    color: black;
}

button.toggle {
    float: right;
    font: 10px sans-serif;
}
.toggle span {
    line-height: .5;
}

/* style the chart elements */
.title text {
    font-weight: bold;
    text-anchor: middle;
    text-decoration: underline;
}

.axis text {
    font: 10px sans-serif;
}
.axis line,
.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y.axis .label text {
    font-size: 12px;
    font-weight: bolder;
    text-anchor: middle;
}
.y.axis.left text {
    fill: gray;
}
.y.axis.right text {
    fill: black;
}
.y0.axis line {
    stroke-dasharray: 5,5;
}

.metric path {
    fill: none;
    stroke: gray;
    stroke-width: 3px;
}
.metric2 path {
    fill: none;
    stroke: black;
    stroke-dasharray: 10,10;
    stroke-width: 3px;
}

.format {
    cursor: pointer;
}
.format path {
    fill: none;
    stroke-width: 1.5px;
}
.format text {
    font: 8px sans-serif;
}

.brush {
    fill: gray;
    fill-opacity: .2;
    stroke: black;
    pointer-events: none;
}

/* style the highlighted chart elements */
.highlighted path {
    stroke-width: 3px;
}
.highlighted text {
    font-weight: bolder;
}

/* style the faded chart elements */
.faded {
    opacity: .3;
}
.faded path {
    stroke-width: 1px;
}
.faded text {
    opacity: .1;
}
