body {
    font-family: 'PT Sans', sans-serif;
}

.chartTitle {
    background-color: lightgrey;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: .25em 1em;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.context {
    fill: grey;
}

.format path {
    fill: none;
    stroke-width: 1.5px;
}

.format text {
    font: 8px sans-serif;
}

.brush {
    fill: yellow;
    fill-opacity: .5;
    stroke: white;
    pointer-events: none;
}
